html,
body {
  margin: 0;
  padding: 0;
}
* a {
  text-decoration: none !important;
}
.no-break {
  word-break: keep-all;
  white-space: nowrap;
}
.display-7 {
  font-size: 1.5rem;
}
.pointer {
  cursor: pointer;
}
.one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1 !important;
  line-clamp: 1 !important;
  word-break: break-all;
}
.z-index-1 {
  z-index: 1;
}
.z-index-2 {
  z-index: 2;
}
.z-index-off-1 {
  z-index: -1;
}
